# Import Data

In [43]:
from sqlalchemy import create_engine
import pandas as pd
import psycopg2
db_password = 'Snakefarm'

#Initialize DB string
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/spotify_capstone"

#Create database engine
engine = create_engine(db_string)

# Connection parameters, yours will be different
param_dic = {
    "host"      : "localhost",
    "database"  : "spotify_capstone",
    "user"      : "postgres",
    "password"  : "snakefarm"
}
def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print("Connection successful")
    return conn

def postgresql_to_dataframe(conn, select_query, column_names):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    
    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()
    
    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tupples, columns=column_names)
    return df


# Connect to the database
conn = connect(param_dic)
column_names = ['track_name', 'artist_name', 'song_and_artist', 'track_id', 'year', 'valence', 'acoustic', 'danceability', 'duration_ms', 'energy', 'explicit', 'instrument', 'key_value', 'liveness', 'loudness', 'mode_value', 'popularity', 'speechiness', 'tempo']
# Execute the "SELECT *" query
spotify_df = postgresql_to_dataframe(conn, "select * from  spotify_values", column_names)


#Read in new billboard DF
conn = connect(param_dic)
column_names_bb = ['track_name', 'album', 'artist_name', 'track_id', 'year', 'duration_ms',
       'popularity', 'danceability', 'acoustic', 'energy', 'instrument',
       'liveness', 'loudness', 'speechiness', 'tempo', 'time_signature',
       'explicit', 'valence', 'key_value', 'mode_value', 'billboard_year',
       'index']
# Execute the "SELECT *" query for BB data
billboard_master_df =postgresql_to_dataframe(conn, "select * from billboard_master", column_names_bb)

#Create list of track_ids from billboard
billboard_master_df_id_list = billboard_master_df['track_id'].tolist()

# Filter out billboard songs in spotify_df
inverse_boolean_series = ~spotify_df.track_id.isin(billboard_master_df_id_list)
spotify_filtered_df = spotify_df[inverse_boolean_series]
spotify_filtered_df.head()

#Join billboard and filtered Spotify DF
joined_df = pd.concat([billboard_master_df,spotify_filtered_df], axis=0, ignore_index=True)

#Add billboard top 100 column to joined df
joined_df['top_100'] = 0

for i, track_id in joined_df.track_id.iteritems():
    if track_id in billboard_master_df.track_id.values:
        joined_df['top_100'][i]= 1
        
joined_df['top_100'].value_counts()

joined_df

Connecting to the PostgreSQL database...
Connection successful
Connecting to the PostgreSQL database...
Connection successful

<ipython-input-43-d3dd7fef7418>:86: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joined_df['top_100'][i]= 1

,track_name,album,artist_name,track_id,year,duration_ms,popularity,danceability,acoustic,energy,...,tempo,time_signature,explicit,valence,key_value,mode_value,billboard_year,index,song_and_artist,top_100
0,Goodnight+ Irene,Goodnight+ Irene,The Weavers and Gordon Jenkins Orchestra,0ovbd86qDYXYTythqAmofL,2013,153991,5,0.367,0.991,0.229,...,138.38,4,False,0.617,4,True,1950.0,0.0,NaN,1
1,Mona Lisa,The Nat King Cole Story,Nat King Cole,3k5ycyXX5qsCjLd7R2vphp,1991,207573,42,0.214,0.903,0.194,...,86.198,3,False,0.339,1,True,1950.0,1.0,NaN,1
2,The Third Man Theme,The Third Man Theme And Other Viennese Favorit...,Anton Karas,7rRGujA12UJcRUz7DxUDwQ,2006,265360,16,0.382,0.851,0.348,...,73.265,4,False,0.862,7,True,1950.0,2.0,NaN,1
3,Sam's Song (The Happy Tune),Swinging On A Star,Bing Crosby,0xHbFWoqTXy0dRFWQmMbJm,1999,172133,0,0.751,0.894,0.133,...,117.781,4,False,0.559,5,False,1950.0,3.0,NaN,1
4,"A Simple Melody (From ""Watch your Step"")",Musical Moments to Remember: Bing Crosby Vol. ...,Bing Crosby,1V3Ml3V5bKT7a7DR1ueBbm,2014,171182,26,0.665,0.984,0.126,...,139.152,3,False,0.794,10,True,1950.0,4.0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173556,"""Der Rosenkavalier* Op.59 / Act 3: """"Zur Stell...",NaN,['Richard Strauss'* 'Alfred Poell'* 'Ludwig We...,0yRjRgvO8kR6E9fehn07tE,1954,308600,0,0.424,0.976,0.448,...,82.35,NaN,False,0.578,5,True,NaN,NaN,"""Der Rosenkavalier* Op.59 / Act 3: """"Zur Stell...",0
173557,Jacôk - Mountain Dancde,NaN,['Krosno Ensemble'],0yVOxC0rsuYapJh7NkMgkX,1954,80827,0,0.462,0.985,0.0949,...,72.953,NaN,False,0.96,2,True,NaN,NaN,Jacôk - Mountain Dancde ['Krosno Ensemble'],0
173558,Easter Hymn,NaN,['Girolamo Cavazzoni'* 'Flor Peeters'],0yZj9jxtCYdzkDBX6LGmrL,1954,138427,0,0.138,0.42,0.0161,...,70.063,NaN,False,0.439,0,False,NaN,NaN,Easter Hymn ['Girolamo Cavazzoni'* 'Flor Peete...,0
173559,Jodi Bolo,NaN,['Arijit Singh'],5wS1sJr2rzh9AKYFpkqqnA,2020,272562,0,0.42,0.696,0.682,...,112.009,NaN,False,0.394,11,False,NaN,NaN,Jodi Bolo ['Arijit Singh'],0
173560,"""Nacchite Ye Panaina (From """"Dohchay"""")""",NaN,['Arijit Singh'],6zgPxJ3HlrD8Vqv7OVLG0Y,2020,210620,0,0.654,0.222,0.713,...,134.985,NaN,False,0.548,0,True,NaN,NaN,"""Nacchite Ye Panaina (From """"Dohchay"""") ['Arij...",0

# Function Creation

### Random Forest Function for different decades

In [33]:
#Random Forest Function for decades
import pandas as pd
accuracy_results_df_decade = pd.DataFrame()
def random_forest_func_pprint(joined_df, year):
    #import
    from sklearn.preprocessing import StandardScaler
    from sklearn.model_selection import train_test_split
    from collections import Counter
    from imblearn.combine import SMOTEENN
    from sklearn.metrics import classification_report
    import pandas as pd
    
    #Create dataframes based on year
    billboard_filtered_df_func = joined_df[(joined_df['billboard_year'] <= (year + 9)) & (joined_df['billboard_year']>= year)]
    spotify_year_filter_df_func = joined_df[(joined_df['year'] <= (year + 9)) & (joined_df['year'] >= (year -3)) & (joined_df['top_100'] == 0)]

    year_joined_df_func = pd.concat([billboard_filtered_df_func,spotify_year_filter_df_func], axis=0, ignore_index=True)
    
    #Create X and Y
    X_year_joined = year_joined_df_func[['valence',
       'acoustic', 'danceability', 'duration_ms', 'energy',
       'instrument', 'key_value', 'liveness', 'loudness',
       'speechiness', 'tempo']]

    y = year_joined_df_func['top_100']

    #SCALE DATA
    data_scaler = StandardScaler()
    X_scaled = data_scaler.fit_transform(X_year_joined)
    current_data_df= pd.DataFrame(X_scaled, columns = X_year_joined.columns)

    #SPLIT INTO TRAINING AND TESTING
    X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, random_state=1)
    smote_enn = SMOTEENN(random_state=0)

    #APPLY SMOTEEN SAMPLING
    X_SMOTEEN, y_SMOTEEN = smote_enn.fit_resample(X_scaled, y)
    #Train the Random Forest model
    # Create a random forest classifier.
    from sklearn.ensemble import RandomForestClassifier
    from sklearn.metrics import confusion_matrix, accuracy_score, balanced_accuracy_score
    from imblearn.metrics import classification_report_imbalanced

    rf_model = RandomForestClassifier(n_estimators=128, random_state=78) 

    # Fitting the model
    rf_model = rf_model.fit(X_SMOTEEN, y_SMOTEEN)

    #Predict
    y_pred = rf_model.predict(X_test)
    balanced_accuracy_score(y_test, y_pred)

    # Calculating the confusion matrix.
    cm = confusion_matrix(y_test, y_pred)

    # Create a DataFrame from the confusion matrix.
    cm_df = pd.DataFrame(
        cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

    # Calculating the accuracy score.
    acc_score = balanced_accuracy_score(y_test, y_pred)

    # Displaying results of SMOTEEN Random Forest
    # return (f"Confusion Matrix {display(cm_df)} Accuracy Score : {acc_score} Classification Report {classification_report_imbalanced(y_test, y_pred)}" )
    print ('\033[1m' + 'Results for ' + str(year) + 's')
    #print(f"Confusion Matrix {year}")
    display (cm_df)
    print(f"Accuracy Score : {acc_score}")
    print("Classification Report")
    print(classification_report_imbalanced(y_test, y_pred))
#     print(*X_year_joined.columns, sep =', ')
#     print()
#     print(f"Data was originally {Counter(y)} and was SMOTEEN sampled to {Counter(y_SMOTEEN)}.")
#     print()
    #sort features by their importance.
   # display(sorted(zip(rf_model.feature_importances_, X_year_joined.columns), reverse=True))

    # Put results into dataframe
    report_dict = classification_report(y_test, y_pred, output_dict=True)
    results_df = pd.DataFrame(report_dict).transpose()
    results_df['Decade'] = year
    
    global accuracy_results_df_decade
    accuracy_results_df_decade = accuracy_results_df_decade.append(results_df)

### Random Forest Function all years

In [39]:
#Random Forest Function
import pandas as pd
accuracy_results_df_all_years = pd.DataFrame()
def random_forest_func_all_years(data_to_scale):
    #import
    from sklearn.preprocessing import StandardScaler
    from sklearn.model_selection import train_test_split
    from collections import Counter
    from imblearn.combine import SMOTEENN
    from sklearn.metrics import classification_report
    import pandas as pd

    #SCALE DATA
    data_scaler = StandardScaler()
    X_scaled = data_scaler.fit_transform(data_to_scale)
    current_data_df= pd.DataFrame(X_scaled, columns = data_to_scale.columns)

    #SPLIT INTO TRAINING AND TESTING
    X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, random_state=1)
    smote_enn = SMOTEENN(random_state=0)

    #APPLY SMOTEEN SAMPLING
    X_SMOTEEN, y_SMOTEEN = smote_enn.fit_resample(X_scaled, y)
    #Train the Random Forest model
    # Create a random forest classifier.
    from sklearn.ensemble import RandomForestClassifier
    from sklearn.metrics import confusion_matrix, accuracy_score, balanced_accuracy_score
    from imblearn.metrics import classification_report_imbalanced

    rf_model = RandomForestClassifier(n_estimators=128, random_state=78) 

    # Fitting the model
    rf_model = rf_model.fit(X_SMOTEEN, y_SMOTEEN)

    #Predict
    y_pred = rf_model.predict(X_test)
    balanced_accuracy_score(y_test, y_pred)

    # Calculating the confusion matrix.
    cm = confusion_matrix(y_test, y_pred)

    # Create a DataFrame from the confusion matrix.
    cm_df = pd.DataFrame(
        cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

    # Calculating the accuracy score.
    acc_score = balanced_accuracy_score(y_test, y_pred)

    # Displaying results of SMOTEEN Random Forest
    # return (f"Confusion Matrix {display(cm_df)} Accuracy Score : {acc_score} Classification Report {classification_report_imbalanced(y_test, y_pred)}" )
    print("Confusion Matrix")
    display (cm_df)
    print(f"Accuracy Score : {acc_score}")
    print("Classification Report")
    print(classification_report_imbalanced(y_test, y_pred))
    print(*data_to_scale.columns, sep =', ')
    print()
    print(f"Data was originally {Counter(y)} and was SMOTEEN sampled to {Counter(y_SMOTEEN)}.")
    print()
    #sort features by their importance.
    display(sorted(zip(rf_model.feature_importances_, data_to_scale.columns), reverse=True))
    
    ## Put results into dataframe
    report_dict = classification_report(y_test, y_pred, output_dict=True)
    results_df = pd.DataFrame(report_dict).transpose()
    results_df['Year'] = '1950-2020'
    
    global accuracy_results_df_all_years
    
    accuracy_results_df_all_years = accuracy_results_df_all_years.append(results_df)

### Random Forest Function for single years

In [40]:
#Random Forest Function for single year
import pandas as pd
accuracy_results_df_single_year = pd.DataFrame()
def random_forest_func_single_year(joined_df, year):
    #import
    from sklearn.preprocessing import StandardScaler
    from sklearn.model_selection import train_test_split
    from collections import Counter
    from imblearn.combine import SMOTEENN
    from sklearn.metrics import classification_report
    import pandas as pd
    
    #Create dataframes based on year
    billboard_filtered_df_func = joined_df[(joined_df['billboard_year'] == year)]
    spotify_year_filter_df_func = joined_df[(joined_df['year'] <= year) & (joined_df['year'] >= (year -3)) & (joined_df['top_100'] == 0)]

    year_joined_df_func = pd.concat([billboard_filtered_df_func,spotify_year_filter_df_func], axis=0, ignore_index=True)
    
    #Create X and Y
    X_year_joined = year_joined_df_func[['valence',
       'acoustic', 'danceability', 'duration_ms', 'energy',
       'instrument', 'key_value', 'liveness', 'loudness',
       'speechiness', 'tempo']]

    y = year_joined_df_func['top_100']

    #SCALE DATA
    data_scaler = StandardScaler()
    X_scaled = data_scaler.fit_transform(X_year_joined)
    current_data_df= pd.DataFrame(X_scaled, columns = X_year_joined.columns)

    #SPLIT INTO TRAINING AND TESTING
    X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, random_state=1)
    smote_enn = SMOTEENN(random_state=0)

    #APPLY SMOTEEN SAMPLING
    X_SMOTEEN, y_SMOTEEN = smote_enn.fit_resample(X_scaled, y)
    #Train the Random Forest model
    # Create a random forest classifier.
    from sklearn.ensemble import RandomForestClassifier
    from sklearn.metrics import confusion_matrix, accuracy_score, balanced_accuracy_score
    from imblearn.metrics import classification_report_imbalanced

    rf_model = RandomForestClassifier(n_estimators=128, random_state=78) 

    # Fitting the model
    rf_model = rf_model.fit(X_SMOTEEN, y_SMOTEEN)

    #Predict
    y_pred = rf_model.predict(X_test)
    balanced_accuracy_score(y_test, y_pred)

    # Calculating the confusion matrix.
    cm = confusion_matrix(y_test, y_pred)

    # Create a DataFrame from the confusion matrix.
    cm_df = pd.DataFrame(
        cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

    # Calculating the accuracy score.
    acc_score = balanced_accuracy_score(y_test, y_pred)

    # Displaying results of SMOTEEN Random Forest
    # return (f"Confusion Matrix {display(cm_df)} Accuracy Score : {acc_score} Classification Report {classification_report_imbalanced(y_test, y_pred)}" )
    print ('\033[1m' + 'Results for ' + str(year))
    #print(f"Confusion Matrix {year}")
    display (cm_df)
    print(f"Accuracy Score : {acc_score}")
    print("Classification Report")
    print(classification_report_imbalanced(y_test, y_pred))
    
#     print(*X_year_joined.columns, sep =', ')
#     print()
#     print(f"Data was originally {Counter(y)} and was SMOTEEN sampled to {Counter(y_SMOTEEN)}.")
#     print()
    #sort features by their importance.
   # display(sorted(zip(rf_model.feature_importances_, X_year_joined.columns), reverse=True))
    
    # Put results into dataframe
    report_dict = classification_report(y_test, y_pred, output_dict=True)
    results_df = pd.DataFrame(report_dict).transpose()
    results_df['Year'] = year
    
    global accuracy_results_df_single_year
    accuracy_results_df_single_year = accuracy_results_df_single_year.append(results_df)

# ML Results Model

In [27]:
# Run function for different decades
import pandas as pd
accuracy_results_df_decade = pd.DataFrame()
i = 1950
while i <= 2020:
    random_forest_func_pprint(joined_df, i)
    i +=10

Results for 1950s

          Predicted 0  Predicted 1
Actual 0         6088          228
Actual 1            0          160

Accuracy Score : 0.9819506016466117
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.96      1.00      0.98      0.98      0.96      6316
          1       0.41      1.00      0.96      0.58      0.98      0.97       160

avg / total       0.99      0.96      1.00      0.97      0.98      0.96      6476

Results for 1960s

          Predicted 0  Predicted 1
Actual 0         5763          475
Actual 1            0          272

Accuracy Score : 0.9619268996473229
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.92      1.00      0.96      0.96      0.92      6238
          1       0.36      1.00      0.92      0.53      0.96      0.93       272

avg / total       0.97      0.93      1.00      0.94      0.96      0.92      6510

Results for 1970s

          Predicted 0  Predicted 1
Actual 0         5890          377
Actual 1            0          267

Accuracy Score : 0.9699218126695388
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.94      1.00      0.97      0.97      0.93      6267
          1       0.41      1.00      0.94      0.59      0.97      0.95       267

avg / total       0.98      0.94      1.00      0.95      0.97      0.93      6534

Results for 1980s

          Predicted 0  Predicted 1
Actual 0         5708          503
Actual 1            6          264

Accuracy Score : 0.9483962146013345
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.92      0.98      0.96      0.95      0.89      6211
          1       0.34      0.98      0.92      0.51      0.95      0.90       270

avg / total       0.97      0.92      0.98      0.94      0.95      0.89      6481

Results for 1990s

          Predicted 0  Predicted 1
Actual 0         5782          447
Actual 1            3          254

Accuracy Score : 0.9582828654473584
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.93      0.99      0.96      0.96      0.91      6229
          1       0.36      0.99      0.93      0.53      0.96      0.92       257

avg / total       0.97      0.93      0.99      0.95      0.96      0.91      6486

Results for 2000s

          Predicted 0  Predicted 1
Actual 0         5709          496
Actual 1            5          263

Accuracy Score : 0.9507038738619553
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.92      0.98      0.96      0.95      0.90      6205
          1       0.35      0.98      0.92      0.51      0.95      0.91       268

avg / total       0.97      0.92      0.98      0.94      0.95      0.90      6473

Results for 2010s

          Predicted 0  Predicted 1
Actual 0         5752          434
Actual 1            5          263

Accuracy Score : 0.9555924306691567
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.93      0.98      0.96      0.96      0.91      6186
          1       0.38      0.98      0.93      0.55      0.96      0.92       268

avg / total       0.97      0.93      0.98      0.95      0.96      0.91      6454

Results for 2020s

          Predicted 0  Predicted 1
Actual 0         1903           40
Actual 1            1           21

Accuracy Score : 0.9669793664904318
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      0.95      0.99      0.97      0.94      1943
          1       0.34      0.95      0.98      0.51      0.97      0.93        22

avg / total       0.99      0.98      0.95      0.98      0.97      0.94      1965

In [42]:
# Run function for all years
import pandas as pd
accuracy_results_df_all_years = pd.DataFrame()

#Remove Popularity, explicit, mode_value
X_minus_pop_mode_explicit = joined_df[['valence',
       'acoustic', 'danceability', 'duration_ms', 'energy',
       'instrument', 'key_value', 'liveness', 'loudness',
       'speechiness', 'tempo']]

y = joined_df['top_100']

#Run function
random_forest_func_all_years(X_minus_pop_mode_explicit)

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0        38907         2865
Actual 1           12         1607

Accuracy Score : 0.9620007021261985
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.93      0.99      0.96      0.96      0.92     41772
          1       0.36      0.99      0.93      0.53      0.96      0.93      1619

avg / total       0.98      0.93      0.99      0.95      0.96      0.92     43391

valence, acoustic, danceability, duration_ms, energy, instrument, key_value, liveness, loudness, speechiness, tempo

Data was originally Counter({0: 167014, 1: 6547}) and was SMOTEEN sampled to Counter({1: 162449, 0: 128036}).

[(0.16782626020426092, 'acoustic'),
 (0.11176664281351334, 'energy'),
 (0.10216776217989137, 'instrument'),
 (0.09323165617246944, 'duration_ms'),
 (0.0912878098396743, 'loudness'),
 (0.08562420131375502, 'danceability'),
 (0.07910566103781867, 'speechiness'),
 (0.07228586291393965, 'valence'),
 (0.07115138829430181, 'key_value'),
 (0.0643372939693785, 'tempo'),
 (0.06121546126099687, 'liveness')]

In [41]:
# Run function for different years
import pandas as pd
accuracy_results_df_single_year = pd.DataFrame()
i = 1950
while i <= 2020:
    random_forest_func_single_year(joined_df, i)
    i +=1

Results for 1950

          Predicted 0  Predicted 1
Actual 0         1878           11
Actual 1            0            5

Accuracy Score : 0.9970884065643197
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.99      1.00      1.00      1.00      0.99      1889
          1       0.31      1.00      0.99      0.48      1.00      0.99         5

avg / total       1.00      0.99      1.00      1.00      1.00      0.99      1894

Results for 1951

          Predicted 0  Predicted 1
Actual 0         1963           13
Actual 1            0            5

Accuracy Score : 0.9967105263157895
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.99      1.00      1.00      1.00      0.99      1976
          1       0.28      1.00      0.99      0.43      1.00      0.99         5

avg / total       1.00      0.99      1.00      1.00      1.00      0.99      1981

Results for 1952

          Predicted 0  Predicted 1
Actual 0         1996            7
Actual 1            0            4

Accuracy Score : 0.9982526210683974
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      1.00      1.00      1.00      1.00      1.00      2003
          1       0.36      1.00      1.00      0.53      1.00      1.00         4

avg / total       1.00      1.00      1.00      1.00      1.00      1.00      2007

Results for 1953

          Predicted 0  Predicted 1
Actual 0         1981            7
Actual 1            0            5

Accuracy Score : 0.9982394366197183
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      1.00      1.00      1.00      1.00      1.00      1988
          1       0.42      1.00      1.00      0.59      1.00      1.00         5

avg / total       1.00      1.00      1.00      1.00      1.00      1.00      1993

Results for 1954

          Predicted 0  Predicted 1
Actual 0         1980            8
Actual 1            0            5

Accuracy Score : 0.9979879275653923
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      1.00      1.00      1.00      1.00      1.00      1988
          1       0.38      1.00      1.00      0.56      1.00      1.00         5

avg / total       1.00      1.00      1.00      1.00      1.00      1.00      1993

Results for 1955

          Predicted 0  Predicted 1
Actual 0         1983            4
Actual 1            0            5

Accuracy Score : 0.9989934574735783
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      1.00      1.00      1.00      1.00      1.00      1987
          1       0.56      1.00      1.00      0.71      1.00      1.00         5

avg / total       1.00      1.00      1.00      1.00      1.00      1.00      1992

Results for 1956

          Predicted 0  Predicted 1
Actual 0         1960           29
Actual 1            0           19

Accuracy Score : 0.9927099044746104
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.99      1.00      0.99      0.99      0.98      1989
          1       0.40      1.00      0.99      0.57      0.99      0.99        19

avg / total       0.99      0.99      1.00      0.99      0.99      0.98      2008

Results for 1957

          Predicted 0  Predicted 1
Actual 0         1961           26
Actual 1            0           20

Accuracy Score : 0.9934574735782586
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.99      1.00      0.99      0.99      0.99      1987
          1       0.43      1.00      0.99      0.61      0.99      0.99        20

avg / total       0.99      0.99      1.00      0.99      0.99      0.99      2007

Results for 1958

          Predicted 0  Predicted 1
Actual 0         1951           33
Actual 1            0           22

Accuracy Score : 0.9916834677419355
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1984
          1       0.40      1.00      0.98      0.57      0.99      0.99        22

avg / total       0.99      0.98      1.00      0.99      0.99      0.98      2006

Results for 1959

          Predicted 0  Predicted 1
Actual 0         1926           38
Actual 1            0           22

Accuracy Score : 0.9903258655804481
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1964
          1       0.37      1.00      0.98      0.54      0.99      0.98        22

avg / total       0.99      0.98      1.00      0.99      0.99      0.98      1986

Results for 1960

          Predicted 0  Predicted 1
Actual 0         1890           35
Actual 1            0           21

Accuracy Score : 0.990909090909091
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1925
          1       0.38      1.00      0.98      0.55      0.99      0.98        21

avg / total       0.99      0.98      1.00      0.99      0.99      0.98      1946

Results for 1961

          Predicted 0  Predicted 1
Actual 0         1881           32
Actual 1            0           22

Accuracy Score : 0.9916361735493988
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1913
          1       0.41      1.00      0.98      0.58      0.99      0.98        22

avg / total       0.99      0.98      1.00      0.99      0.99      0.98      1935

Results for 1962

          Predicted 0  Predicted 1
Actual 0         1844           39
Actual 1            0           23

Accuracy Score : 0.989644184811471
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1883
          1       0.37      1.00      0.98      0.54      0.99      0.98        23

avg / total       0.99      0.98      1.00      0.98      0.99      0.98      1906

Results for 1963

          Predicted 0  Predicted 1
Actual 0         1845           51
Actual 1            0           22

Accuracy Score : 0.9865506329113924
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.97      1.00      0.99      0.99      0.97      1896
          1       0.30      1.00      0.97      0.46      0.99      0.98        22

avg / total       0.99      0.97      1.00      0.98      0.99      0.97      1918

Results for 1964

          Predicted 0  Predicted 1
Actual 0         1880           39
Actual 1            0           20

Accuracy Score : 0.9898384575299635
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1919
          1       0.34      1.00      0.98      0.51      0.99      0.98        20

avg / total       0.99      0.98      1.00      0.98      0.99      0.98      1939

Results for 1965

          Predicted 0  Predicted 1
Actual 0         1885           43
Actual 1            1           18

Accuracy Score : 0.9625327582441581
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      0.95      0.99      0.96      0.93      1928
          1       0.30      0.95      0.98      0.45      0.96      0.92        19

avg / total       0.99      0.98      0.95      0.98      0.96      0.93      1947

Results for 1966

          Predicted 0  Predicted 1
Actual 0         1916           34
Actual 1            0           21

Accuracy Score : 0.9912820512820513
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1950
          1       0.38      1.00      0.98      0.55      0.99      0.98        21

avg / total       0.99      0.98      1.00      0.99      0.99      0.98      1971

Results for 1967

          Predicted 0  Predicted 1
Actual 0         1920           22
Actual 1            0           20

Accuracy Score : 0.994335736354274
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.99      1.00      0.99      0.99      0.99      1942
          1       0.48      1.00      0.99      0.65      0.99      0.99        20

avg / total       0.99      0.99      1.00      0.99      0.99      0.99      1962

Results for 1968

          Predicted 0  Predicted 1
Actual 0         1914           31
Actual 1            0           21

Accuracy Score : 0.9920308483290489
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1945
          1       0.40      1.00      0.98      0.58      0.99      0.99        21

avg / total       0.99      0.98      1.00      0.99      0.99      0.98      1966

Results for 1969

          Predicted 0  Predicted 1
Actual 0         1921           29
Actual 1            0           21

Accuracy Score : 0.9925641025641025
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.99      1.00      0.99      0.99      0.98      1950
          1       0.42      1.00      0.99      0.59      0.99      0.99        21

avg / total       0.99      0.99      1.00      0.99      0.99      0.98      1971

Results for 1970

          Predicted 0  Predicted 1
Actual 0         1905           39
Actual 1            0           22

Accuracy Score : 0.9899691358024691
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1944
          1       0.36      1.00      0.98      0.53      0.99      0.98        22

avg / total       0.99      0.98      1.00      0.98      0.99      0.98      1966

Results for 1971

          Predicted 0  Predicted 1
Actual 0         1910           35
Actual 1            0           20

Accuracy Score : 0.9910025706940875
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1945
          1       0.36      1.00      0.98      0.53      0.99      0.98        20

avg / total       0.99      0.98      1.00      0.99      0.99      0.98      1965

Results for 1972

          Predicted 0  Predicted 1
Actual 0         1920           25
Actual 1            0           22

Accuracy Score : 0.993573264781491
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.99      1.00      0.99      0.99      0.99      1945
          1       0.47      1.00      0.99      0.64      0.99      0.99        22

avg / total       0.99      0.99      1.00      0.99      0.99      0.99      1967

Results for 1973

          Predicted 0  Predicted 1
Actual 0         1912           26
Actual 1            0           20

Accuracy Score : 0.9932920536635708
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.99      1.00      0.99      0.99      0.99      1938
          1       0.43      1.00      0.99      0.61      0.99      0.99        20

avg / total       0.99      0.99      1.00      0.99      0.99      0.99      1958

Results for 1974

          Predicted 0  Predicted 1
Actual 0         1907           32
Actual 1            0           19

Accuracy Score : 0.9917483238782878
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1939
          1       0.37      1.00      0.98      0.54      0.99      0.99        19

avg / total       0.99      0.98      1.00      0.99      0.99      0.98      1958

Results for 1975

          Predicted 0  Predicted 1
Actual 0         1901           34
Actual 1            0           22

Accuracy Score : 0.9912144702842377
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1935
          1       0.39      1.00      0.98      0.56      0.99      0.98        22

avg / total       0.99      0.98      1.00      0.99      0.99      0.98      1957

Results for 1976

          Predicted 0  Predicted 1
Actual 0         1891           42
Actual 1            0           20

Accuracy Score : 0.9891360579410243
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1933
          1       0.32      1.00      0.98      0.49      0.99      0.98        20

avg / total       0.99      0.98      1.00      0.98      0.99      0.98      1953

Results for 1977

          Predicted 0  Predicted 1
Actual 0         1907           29
Actual 1            0           20

Accuracy Score : 0.9925103305785123
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.99      1.00      0.99      0.99      0.98      1936
          1       0.41      1.00      0.99      0.58      0.99      0.99        20

avg / total       0.99      0.99      1.00      0.99      0.99      0.98      1956

Results for 1978

          Predicted 0  Predicted 1
Actual 0         1899           35
Actual 1            0           20

Accuracy Score : 0.9909513960703206
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1934
          1       0.36      1.00      0.98      0.53      0.99      0.98        20

avg / total       0.99      0.98      1.00      0.99      0.99      0.98      1954

Results for 1979

          Predicted 0  Predicted 1
Actual 0         1913           25
Actual 1            0           20

Accuracy Score : 0.9935500515995872
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.99      1.00      0.99      0.99      0.99      1938
          1       0.44      1.00      0.99      0.62      0.99      0.99        20

avg / total       0.99      0.99      1.00      0.99      0.99      0.99      1958

Results for 1980

          Predicted 0  Predicted 1
Actual 0         1906           23
Actual 1            0           22

Accuracy Score : 0.9940383618455157
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.99      1.00      0.99      0.99      0.99      1929
          1       0.49      1.00      0.99      0.66      0.99      0.99        22

avg / total       0.99      0.99      1.00      0.99      0.99      0.99      1951

Results for 1981

          Predicted 0  Predicted 1
Actual 0         1890           37
Actual 1            0           20

Accuracy Score : 0.9903995848469123
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1927
          1       0.35      1.00      0.98      0.52      0.99      0.98        20

avg / total       0.99      0.98      1.00      0.99      0.99      0.98      1947

Results for 1982

          Predicted 0  Predicted 1
Actual 0         1892           34
Actual 1            0           19

Accuracy Score : 0.9911734164070612
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1926
          1       0.36      1.00      0.98      0.53      0.99      0.98        19

avg / total       0.99      0.98      1.00      0.99      0.99      0.98      1945

Results for 1983

          Predicted 0  Predicted 1
Actual 0         1867           49
Actual 1            1           21

Accuracy Score : 0.9644856709052951
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.97      0.95      0.99      0.96      0.93      1916
          1       0.30      0.95      0.97      0.46      0.96      0.93        22

avg / total       0.99      0.97      0.95      0.98      0.96      0.93      1938

Results for 1984

          Predicted 0  Predicted 1
Actual 0         1885           39
Actual 1            1           19

Accuracy Score : 0.9648648648648648
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      0.95      0.99      0.96      0.93      1924
          1       0.33      0.95      0.98      0.49      0.96      0.93        20

avg / total       0.99      0.98      0.95      0.98      0.96      0.93      1944

Results for 1985

          Predicted 0  Predicted 1
Actual 0         1873           53
Actual 1            0           22

Accuracy Score : 0.9862409138110073
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.97      1.00      0.99      0.99      0.97      1926
          1       0.29      1.00      0.97      0.45      0.99      0.98        22

avg / total       0.99      0.97      1.00      0.98      0.99      0.97      1948

Results for 1986

          Predicted 0  Predicted 1
Actual 0         1880           44
Actual 1            0           19

Accuracy Score : 0.9885654885654886
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.97      1924
          1       0.30      1.00      0.98      0.46      0.99      0.98        19

avg / total       0.99      0.98      1.00      0.98      0.99      0.97      1943

Results for 1987

          Predicted 0  Predicted 1
Actual 0         1872           36
Actual 1            0           22

Accuracy Score : 0.9905660377358491
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1908
          1       0.38      1.00      0.98      0.55      0.99      0.98        22

avg / total       0.99      0.98      1.00      0.99      0.99      0.98      1930

Results for 1988

          Predicted 0  Predicted 1
Actual 0         1859           39
Actual 1            1           21

Accuracy Score : 0.9669987546699876
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      0.95      0.99      0.97      0.94      1898
          1       0.35      0.95      0.98      0.51      0.97      0.93        22

avg / total       0.99      0.98      0.95      0.98      0.97      0.94      1920

Results for 1989

          Predicted 0  Predicted 1
Actual 0         1883           29
Actual 1            0           20

Accuracy Score : 0.9924163179916319
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1912
          1       0.41      1.00      0.98      0.58      0.99      0.99        20

avg / total       0.99      0.98      1.00      0.99      0.99      0.98      1932

Results for 1990

          Predicted 0  Predicted 1
Actual 0         1892           30
Actual 1            0           10

Accuracy Score : 0.9921956295525494
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1922
          1       0.25      1.00      0.98      0.40      0.99      0.99        10

avg / total       1.00      0.98      1.00      0.99      0.99      0.98      1932

Results for 1991

          Predicted 0  Predicted 1
Actual 0         1897           36
Actual 1            0           21

Accuracy Score : 0.9906880496637351
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1933
          1       0.37      1.00      0.98      0.54      0.99      0.98        21

avg / total       0.99      0.98      1.00      0.99      0.99      0.98      1954

Results for 1992

          Predicted 0  Predicted 1
Actual 0         1905           43
Actual 1            0           22

Accuracy Score : 0.9889630390143738
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1948
          1       0.34      1.00      0.98      0.51      0.99      0.98        22

avg / total       0.99      0.98      1.00      0.98      0.99      0.98      1970

Results for 1993

          Predicted 0  Predicted 1
Actual 0         1895           45
Actual 1            0           20

Accuracy Score : 0.9884020618556701
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.97      1940
          1       0.31      1.00      0.98      0.47      0.99      0.98        20

avg / total       0.99      0.98      1.00      0.98      0.99      0.97      1960

Results for 1994

          Predicted 0  Predicted 1
Actual 0         1899           32
Actual 1            0           22

Accuracy Score : 0.9917141377524599
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1931
          1       0.41      1.00      0.98      0.58      0.99      0.99        22

avg / total       0.99      0.98      1.00      0.99      0.99      0.98      1953

Results for 1995

          Predicted 0  Predicted 1
Actual 0         1901           41
Actual 1            0           22

Accuracy Score : 0.9894438722966015
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1942
          1       0.35      1.00      0.98      0.52      0.99      0.98        22

avg / total       0.99      0.98      1.00      0.98      0.99      0.98      1964

Results for 1996

          Predicted 0  Predicted 1
Actual 0         1904           31
Actual 1            0           23

Accuracy Score : 0.9919896640826873
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1935
          1       0.43      1.00      0.98      0.60      0.99      0.99        23

avg / total       0.99      0.98      1.00      0.99      0.99      0.98      1958

Results for 1997

          Predicted 0  Predicted 1
Actual 0         1886           45
Actual 1            0           22

Accuracy Score : 0.9883480062143967
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.97      1931
          1       0.33      1.00      0.98      0.49      0.99      0.98        22

avg / total       0.99      0.98      1.00      0.98      0.99      0.97      1953

Results for 1998

          Predicted 0  Predicted 1
Actual 0         1901           30
Actual 1            0           20

Accuracy Score : 0.9922320041429311
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1931
          1       0.40      1.00      0.98      0.57      0.99      0.99        20

avg / total       0.99      0.98      1.00      0.99      0.99      0.98      1951

Results for 1999

          Predicted 0  Predicted 1
Actual 0         1860           60
Actual 1            0           21

Accuracy Score : 0.984375
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.97      1.00      0.98      0.98      0.97      1920
          1       0.26      1.00      0.97      0.41      0.98      0.97        21

avg / total       0.99      0.97      1.00      0.98      0.98      0.97      1941

Results for 2000

          Predicted 0  Predicted 1
Actual 0         1869           50
Actual 1            0           21

Accuracy Score : 0.9869723814486712
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.97      1.00      0.99      0.99      0.97      1919
          1       0.30      1.00      0.97      0.46      0.99      0.98        21

avg / total       0.99      0.97      1.00      0.98      0.99      0.97      1940

Results for 2001

          Predicted 0  Predicted 1
Actual 0         1881           44
Actual 1            0           21

Accuracy Score : 0.9885714285714285
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.97      1925
          1       0.32      1.00      0.98      0.49      0.99      0.98        21

avg / total       0.99      0.98      1.00      0.98      0.99      0.97      1946

Results for 2002

          Predicted 0  Predicted 1
Actual 0         1893           40
Actual 1            0           20

Accuracy Score : 0.9896533885152612
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1933
          1       0.33      1.00      0.98      0.50      0.99      0.98        20

avg / total       0.99      0.98      1.00      0.98      0.99      0.98      1953

Results for 2003

          Predicted 0  Predicted 1
Actual 0         1898           35
Actual 1            0           20

Accuracy Score : 0.9909467149508535
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1933
          1       0.36      1.00      0.98      0.53      0.99      0.98        20

avg / total       0.99      0.98      1.00      0.99      0.99      0.98      1953

Results for 2004

          Predicted 0  Predicted 1
Actual 0         1893           42
Actual 1            1           20

Accuracy Score : 0.9653377630121815
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      0.95      0.99      0.97      0.93      1935
          1       0.32      0.95      0.98      0.48      0.97      0.93        21

avg / total       0.99      0.98      0.95      0.98      0.97      0.93      1956

Results for 2005

          Predicted 0  Predicted 1
Actual 0         1870           49
Actual 1            0           20

Accuracy Score : 0.9872329338196977
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.97      1.00      0.99      0.99      0.97      1919
          1       0.29      1.00      0.97      0.45      0.99      0.98        20

avg / total       0.99      0.97      1.00      0.98      0.99      0.97      1939

Results for 2006

          Predicted 0  Predicted 1
Actual 0         1866           42
Actual 1            1           21

Accuracy Score : 0.9662664379645511
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      0.95      0.99      0.97      0.94      1908
          1       0.33      0.95      0.98      0.49      0.97      0.93        22

avg / total       0.99      0.98      0.95      0.98      0.97      0.94      1930

Results for 2007

          Predicted 0  Predicted 1
Actual 0         1873           37
Actual 1            0           20

Accuracy Score : 0.9903141361256544
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1910
          1       0.35      1.00      0.98      0.52      0.99      0.98        20

avg / total       0.99      0.98      1.00      0.99      0.99      0.98      1930

Results for 2008

          Predicted 0  Predicted 1
Actual 0         1845           63
Actual 1            0           20

Accuracy Score : 0.9834905660377358
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.97      1.00      0.98      0.98      0.96      1908
          1       0.24      1.00      0.97      0.39      0.98      0.97        20

avg / total       0.99      0.97      1.00      0.98      0.98      0.96      1928

Results for 2009

          Predicted 0  Predicted 1
Actual 0         1880           37
Actual 1            1           18

Accuracy Score : 0.9640337149603273
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      0.95      0.99      0.96      0.93      1917
          1       0.33      0.95      0.98      0.49      0.96      0.93        19

avg / total       0.99      0.98      0.95      0.99      0.96      0.93      1936

Results for 2010

          Predicted 0  Predicted 1
Actual 0         1888           47
Actual 1            1           19

Accuracy Score : 0.9628552971576227
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      0.95      0.99      0.96      0.93      1935
          1       0.29      0.95      0.98      0.44      0.96      0.92        20

avg / total       0.99      0.98      0.95      0.98      0.96      0.93      1955

Results for 2011

          Predicted 0  Predicted 1
Actual 0         1898           52
Actual 1            0           21

Accuracy Score : 0.9866666666666667
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.97      1.00      0.99      0.99      0.97      1950
          1       0.29      1.00      0.97      0.45      0.99      0.98        21

avg / total       0.99      0.97      1.00      0.98      0.99      0.97      1971

Results for 2012

          Predicted 0  Predicted 1
Actual 0         1887           55
Actual 1            0           20

Accuracy Score : 0.9858393408856849
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.97      1.00      0.99      0.99      0.97      1942
          1       0.27      1.00      0.97      0.42      0.99      0.97        20

avg / total       0.99      0.97      1.00      0.98      0.99      0.97      1962

Results for 2013

          Predicted 0  Predicted 1
Actual 0         1895           48
Actual 1            0           22

Accuracy Score : 0.9876479670612455
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.97      1943
          1       0.31      1.00      0.98      0.48      0.99      0.98        22

avg / total       0.99      0.98      1.00      0.98      0.99      0.97      1965

Results for 2014

          Predicted 0  Predicted 1
Actual 0         1904           27
Actual 1            1           20

Accuracy Score : 0.9691992799191143
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.99      0.95      0.99      0.97      0.94      1931
          1       0.43      0.95      0.99      0.59      0.97      0.94        21

avg / total       0.99      0.99      0.95      0.99      0.97      0.94      1952

Results for 2015

          Predicted 0  Predicted 1
Actual 0         1862           53
Actual 1            0           20

Accuracy Score : 0.9861618798955614
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.97      1.00      0.99      0.99      0.97      1915
          1       0.27      1.00      0.97      0.43      0.99      0.98        20

avg / total       0.99      0.97      1.00      0.98      0.99      0.97      1935

Results for 2016

          Predicted 0  Predicted 1
Actual 0         1843           34
Actual 1            0           20

Accuracy Score : 0.9909429941395844
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1877
          1       0.37      1.00      0.98      0.54      0.99      0.98        20

avg / total       0.99      0.98      1.00      0.99      0.99      0.98      1897

Results for 2017

          Predicted 0  Predicted 1
Actual 0         1831           41
Actual 1            0           22

Accuracy Score : 0.9890491452991452
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.98      1872
          1       0.35      1.00      0.98      0.52      0.99      0.98        22

avg / total       0.99      0.98      1.00      0.98      0.99      0.98      1894

Results for 2018

          Predicted 0  Predicted 1
Actual 0         1845           44
Actual 1            0           22

Accuracy Score : 0.988353626257279
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.97      1889
          1       0.33      1.00      0.98      0.50      0.99      0.98        22

avg / total       0.99      0.98      1.00      0.98      0.99      0.97      1911

Results for 2019

          Predicted 0  Predicted 1
Actual 0         1836           44
Actual 1            0           22

Accuracy Score : 0.9882978723404255
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      1.00      0.99      0.99      0.97      1880
          1       0.33      1.00      0.98      0.50      0.99      0.98        22

avg / total       0.99      0.98      1.00      0.98      0.99      0.97      1902

Results for 2020

          Predicted 0  Predicted 1
Actual 0         1903           40
Actual 1            1           21

Accuracy Score : 0.9669793664904318
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.98      0.95      0.99      0.97      0.94      1943
          1       0.34      0.95      0.98      0.51      0.97      0.93        22

avg / total       0.99      0.98      0.95      0.98      0.97      0.94      1965

## Put results DFs into CSVs

In [32]:
#individual years
accuracy_results_df_single_year.to_csv('classification_report_single_year.csv')

#all years
accuracy_results_df_all_years.to_csv('classification_report_all_years.csv')

#by decade
accuracy_results_df_decade.to_csv('classification_report_decades.csv')